doctype html
html(lang="es")
    head
        title Padron
        meta(charset="utf-8")
        link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet")
    body 
        block contenido