extends ./layout.pug 
block contenido 
    form(action="/users", method="POST" )
        div(class="form-group")
            label(for="email") Email
            input(type="text", name="email", placeholder="Email" class="form-control")
        div(class="form-group")
            label(for="contraseña") Contraseña
            input(type="password", name="contraseña", placeholder="Contraseña" class="form-control")
        div
            input(type="submit" value="Iniciar sesión" class="btn btn-info") 